
  <ion-header>
    <ion-toolbar class="bg-black flex justify-end items-center border-b-2 border-b-gray-900 ">
          <img class="ion-padding h-4/12 w-4/12" src="assets/img/logo.png" alt="entertainment" />
      <ion-buttons slot="end">
          <ion-menu-button></ion-menu-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
<ion-content class="ion-padding">
  <ion-title class="ion-padding text-center text-2xl font-bold">{{'tabs.videogames' | translate}}</ion-title>
  <ion-searchbar [(ngModel)]="searchExpr" class="sticky" showClearButton="focus" showCancelButton="focus" placeholder="{{'generalNames.search' | translate}}" (ionCancel)="resetPage()" (ionChange)="searchVideogames($event)"></ion-searchbar>
  <div class="flex justify-between items-center">
      <ion-button class="ion-padding" [disabled]="page <= 1" slot="start" (click)="prevPage()">
        <ion-icon slot="start" name="chevron-back-outline"></ion-icon>
        {{'generalNames.previous' | translate}}
      </ion-button>
      <ion-button [disabled]="noResponse" class="ion-padding" slot="end" (click)="nextPage()">
        <ion-icon slot="end" name="chevron-forward-outline"></ion-icon>
        {{'generalNames.next' | translate}}
      </ion-button>
    </div>

  <div class="grid">
    <h1 *ngIf="noResponse">{{'generalNames.noResults' | translate}}</h1>
    <ion-card (click)="detailVideogame(videogame)" button *ngFor="let videogame of videogames;" class="card">
      <ion-card-header>
        <ion-label class="card-title">{{ videogame.name ? videogame.name : videogame.name }}</ion-label>
      </ion-card-header>
      <ion-img
        class="image"
        [src]="videogame.cover ? `${videogame.cover.url}` : 'https://placehold.co/600x400?text=Image+Not+Found'"
        alt="{{videogame.name}}">
      </ion-img>
    </ion-card>
  </div>
</ion-content>
