<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>

</ion-header>

<ion-content  class="ion-padding">
  <div class="card">
    <ion-card-title>{{videogame.name}}</ion-card-title>
    <div class="">
      <ion-chip class="star" color="success" >
        {{videogame.rating_count ? (videogame.rating_count | number: '1.0-1') +' / 10 ⭐' : ('personal.status.noScore' | translate)}}
      </ion-chip>
    </div>
    <div class="">
      <ion-chip class="star" color="tertiary" >
        {{videogame.first_release_date ? (videogame.first_release_date | date: 'dd/MM/yyyy') : ('personal.status.noDate' | translate)}}
      </ion-chip>
    </div>
    <div class="">
      <ion-chip *ngFor="let genre of genreFromGames" color="secondary">
        <ion-label>{{genreFromGames.length == 0 ? 'No genres' : genre | autoTranslate:currentLang}}</ion-label>
      </ion-chip>
    </div>
    <img
          class="videogame-image"
          [src]="videogame.cover ? `${videogame.cover.url}` : 'https://placehold.co/600x400?text=Image+Not+Found'" alt="{{videogame.name}}">
    <ion-label>
      <span>{{ videogame.summary | autoTranslate:currentLang | filtro: showFullText }}</span>
      <ion-label color="primary" (click)="toggleText()"> {{ showFullText ? ('generalNames.readLess' | translate) : ('generalNames.readMore' | translate) }}</ion-label>
    </ion-label>
  </div>

    <div *ngIf="videogame.personal" class="personal">
      <ion-chip class="star" color="{{videogame.personal.personal_rating ? 'success' : 'danger'}}" >
          <ion-label>{{ videogame.personal.personal_rating ? (videogame.personal.personal_rating | number : '1.0-1') + ' / 10 🏆' : ('personal.status.noRating' | translate) }}</ion-label>
          <ion-button style="margin-left:10px;" (click)="editRating(videogame)" color="tertiary" expand="full">{{'generalNames.change' | translate}}</ion-button>
      </ion-chip>
      <ion-chip class="star" [color]="getStateColor(videogame.personal.state)" >
          <ion-label>{{videogame.personal.state ? (videogame.personal.state | translate) : ('personal.status.noState' | translate)}}</ion-label>
          <ion-button style="margin-left:10px;" (click)="changeState()" color="tertiary" expand="full">{{'generalNames.change' | translate}}</ion-button>
      </ion-chip>
    </div>
  <ion-button  expand="full" color="{{videogame.isSaved ? 'danger' : 'success'}}" (click)="handleVideogameSave(videogame, videogame.isSaved)" >
    <ion-label>{{videogame.isSaved ? ('generalNames.delete' | translate) : ('generalNames.save' | translate) }}</ion-label>
    <ion-icon slot="end" title="{{videogame.isSaved ? 'trash' : 'bookmark'}}"></ion-icon>
  </ion-button>

</ion-content>
