<ion-header>
  <ion-toolbar>
    <ion-title>{{videogame.name ? videogame.name : videogame.name}}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
  
</ion-header>

<ion-content  class="ion-padding">
  <div class="card">
    <ion-card-title>{{videogame.name}}</ion-card-title>
    <div class="">
      <ion-chip class="star" color="success" >
        {{videogame.rating ? (videogame.rating | number: '1.0-1') +' / 5 ⭐' : 'No score'}}
      </ion-chip>
    </div>
    <div class="">
      <ion-chip class="star" color="tertiary" >
        {{videogame.added ? (videogame.added | date: 'dd/MM/yyyy') : 'No date'}}
      </ion-chip>
    </div>
    <div class="">
      <ion-chip class="star" [color]="videogame.added ? 'warning' : 'tertiary'" >
        {{videogame.added ? 'Airing' : 'Finished'}}
      </ion-chip>
    </div>
    <div class="">
      <ion-chip *ngFor="let genre of genreFromGames" color="secondary">
        <ion-label>{{genreFromGames.length == 0 ? 'No genres' : genre}}</ion-label>
      </ion-chip>
    </div>
    <ion-img
          class="videogame-image"
          [src]="videogame.background_image ? videogame.background_image : 'https://placehold.co/600x400?text=Image+Not+Found'"
          alt="{{videogame.name}}">
    </ion-img>
    <div class="trailer">
      <ion-label color="warning" (click)="watchTrailer('TODO TRAILER SETTINGS')"><u>Click here to see the Trailer </u>
      </ion-label>
      <ion-icon color="warning" slot="end" title="videocam"></ion-icon>
    </div>
  </div>
  
    <div *ngIf="videogame.personal" class="personal">
      <ion-title style="margin-top:10px;" color="tertiary">Personal</ion-title>
      <ion-chip class="star" color="{{videogame.personal.personal_rating ? 'success' : 'danger'}}" >
          <ion-label>{{ videogame.personal.personal_rating ? (videogame.personal.personal_rating | number : '1.0-1') + ' / 10 🏆' : 'No rating yet' }}</ion-label>
          <ion-button style="margin-left:10px;" (click)="editRating(videogame)" color="tertiary" expand="full">EDIT</ion-button>
      </ion-chip>
      <ion-chip class="star" [color]="getStateColor(videogame.personal.state)" >
          <ion-label>{{videogame.personal.state}}</ion-label>
          <ion-button style="margin-left:10px;" (click)="changeState()" color="tertiary" expand="full">CHANGE</ion-button>
      </ion-chip>
    </div>
  <ion-button  expand="full" color="{{videogame.isSaved ? 'danger' : 'success'}}" (click)="handleVideogameSave(videogame, videogame.isSaved)" >
    <ion-label>{{videogame.isSaved ? 'DELETE' : 'SAVE' }}</ion-label>
    <ion-icon slot="end" title="{{videogame.isSaved ? 'trash' : 'bookmark'}}"></ion-icon>
  </ion-button>
  
</ion-content>
