<ion-header>
  <ion-toolbar>
    <ion-title>{{'personal.generalNames.animes' | translate}}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-down-outline"
      refreshingSpinner="circles">
    </ion-refresher-content>
  </ion-refresher>
  <ion-segment value="myanimes" color="tertiary">
    <ion-segment-button value="myanimes" content-id="myanimes">
      <ion-label>{{'personal.generalNames.animes' | translate}}</ion-label>
    </ion-segment-button>
    <ion-segment-button value="search" content-id="search">
      <ion-label>{{'generalNames.search' | translate}}</ion-label>
    </ion-segment-button>
  </ion-segment>
  <ion-segment-view>
    <!-- { {# This is where the collections functionality will be implemented #}} -->
    <ion-segment-content id="myanimes">
      <div class="grid">
        <ion-title class="ion-padding text-center text-2xl text-pretty italic text-bold text-cyan-500" *ngIf="animes.length == 0">{{'generalNames.noResults' | translate}}</ion-title>
        <ion-card (click)="detailAnime(anime)" button *ngFor="let anime of animes;" class="card">
          <ion-title class="ion-padding text-center" expand="full" *ngIf="anime.personal" [color]="getStateColor(anime.personal.state)">
            {{anime.personal.state? (anime.personal.state | translate) : 'personal.generalNames.noStatus' | translate}}
          </ion-title>
          <ion-img
          class="img"
          [src]="anime.images['jpg'].image_url ? anime.images['jpg'].image_url : 'https://placehold.co/600x400?text=Image+Not+Found'"
          alt="{{anime.title}}">
          </ion-img>
          <ion-card-header>
            <ion-label class="card-title">{{ anime.title ? anime.title : anime.title }}</ion-label>
          </ion-card-header>
          <ion-button *ngIf="anime.personal?.personal_rating == null" (click)="rateAnime(anime)" expand="full" color="tertiary" >
            {{'personal.generalNames.rateIt' | translate}}
          </ion-button>
          <div *ngIf="anime.personal" class="personal">
            <ion-label style="margin-top:10px;" color="tertiary">{{'personal.generalNames.userRating' | translate}}</ion-label>
            <ion-chip class="star" color="{{anime.personal.personal_rating ? 'success' : 'danger'}}" >
                <ion-label>{{ anime.personal.personal_rating ? (anime.personal.personal_rating | number : '1.0-1') + ' / 10 🏆' : 'personal.generalNames.noRating' | translate }}</ion-label>
            </ion-chip>
          </div>
        </ion-card>
      </div>
    </ion-segment-content>

    <!-- { {# This is where the search functionality will be implemented #}} -->
    <ion-segment-content id="search">
      <ion-searchbar class="sticky" showClearButton="focus" showCancelButton="focus" placeholder="{{'personal.search.searchAnimes' | translate}}" (ionChange)="searchAnimes($event)" (ionCancel)="resetPage()" [debounce]="250"></ion-searchbar>
      <ion-list>
        <ion-title *ngIf="noResults && animesOnRequest.length == 0 && searchExpr != ''">{{'generalNames.noResults' | translate}}</ion-title>
        @for (anime of animesOnRequest; track anime; let index = $index) {
        <ion-item button (click)="detailAnime(anime)">
          <ion-avatar slot="start">
            <img
          class="img"
          [src]="anime.images['jpg'].image_url ? anime.images['jpg'].image_url : 'https://placehold.co/600x400?text=Image+Not+Found'"
          alt="{{anime.title}}">
          </ion-avatar>
          <ion-label>{{ anime.title }}</ion-label>
        </ion-item>
        }
      </ion-list>
      <ion-title *ngIf="noResults && searchExpr != ''">{{'generalNames.noResults' | translate}}</ion-title>
      <ion-button class="ion-margin" *ngIf="animesOnRequest.length > 0" (click)="onInfiniteScroll()" expand="block" >
        {{'generalNames.loadMore' | translate}}
      </ion-button>
    </ion-segment-content>
  </ion-segment-view>

</ion-content>
