<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>

</ion-header>

<ion-content  class="ion-padding">
  <div class="card">
    <ion-card-title>{{anime.title_english}}</ion-card-title>
    <div class="">
      <ion-chip class="star" color="success" >
        {{anime.score ? (anime.score | number: '1.0-1') +' / 10 ⭐' : ('personal.status.noScore' | translate)}}
      </ion-chip>
    </div>
    <div class="">
      <ion-chip *ngFor="let genre of anime.genres" color="secondary">
        <ion-label>{{genre.name | autoTranslate:currentLang }}</ion-label>
      </ion-chip>
    </div>
    <ion-img
          class="anime-image"
          [src]="anime.images['jpg'].image_url"
          alt="{{anime.title_english}}">
    </ion-img>
    <ion-label>
      <span>{{ anime.synopsis | autoTranslate:currentLang | filtro: showFullText }}</span>
      <ion-label color="primary" (click)="toggleText()"> {{ showFullText ? ('generalNames.readLess' | translate) : ('generalNames.readMore' | translate) }}</ion-label>
    </ion-label>
  </div>

    <div *ngIf="anime.personal" class="personal">
      <ion-chip class="star" color="{{anime.personal.personal_rating ? 'success' : 'danger'}}" >
          <ion-label>{{ anime.personal.personal_rating ? (anime.personal.personal_rating | number : '1.0-1') + ' / 10 🏆' : ('personal.status.noRating' | translate) }}</ion-label>
          <ion-button style="margin-left:10px;" (click)="editRating(anime)" color="tertiary" expand="full">{{'generalNames.change' | translate}}</ion-button>
      </ion-chip>
      <ion-chip class="star" [color]="getStateColor(anime.personal.state)" >
          <ion-label>{{anime.personal.state ? (anime.personal.state | translate) : ('personal.status.noState' | translate)}}</ion-label>
          <ion-button style="margin-left:10px;" (click)="changeState()" color="tertiary" expand="full">{{'generalNames.change' | translate}}</ion-button>
      </ion-chip>
    </div>
  <ion-button  expand="full" color="{{anime.isSaved ? 'danger' : 'success'}}" (click)="handleAnimeSave(anime, anime.isSaved)" >
    <ion-label>{{anime.isSaved ? ('generalNames.delete' | translate) : ('generalNames.save' | translate) }}</ion-label>
    <ion-icon slot="end" title="{{anime.isSaved ? 'trash' : 'bookmark'}}"></ion-icon>
  </ion-button>

</ion-content>
