ion-label{
    font-size: 18px;
}

.bottom-bar{
    position:fixed;
    bottom:0;
    left:0;
}

.small-segment {
    height: 40px;
    font-size: 12px;
  }
  
  .small-segment ion-segment-button {
    padding: 0 6px;
    --indicator-height: 2px;
  }
  
  .small-segment ion-label {
    font-size: 12px;
  }
  