<ion-header>
  <ion-toolbar>
    <ion-title>{{'personal.generalNames.videogames' | translate}}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content
      pullingIcon="arrow-down-outline"
      refreshingSpinner="circles">
    </ion-refresher-content>
  </ion-refresher>
  <ion-segment value="myvideogames" color="tertiary">
    <ion-segment-button value="myvideogames" content-id="myvideogames">
      <ion-label>{{'personal.generalNames.videogames' | translate}}</ion-label>
    </ion-segment-button>
    <ion-segment-button value="search" content-id="search">
      <ion-label>{{'generalNames.search' | translate}}</ion-label>
    </ion-segment-button>
  </ion-segment>
  <ion-segment-view>
    <!-- { {# This is where the collections functionality will be implemented #}} -->
    <ion-segment-content id="myvideogames">
      <div class="grid">
        <ion-title class="ion-padding text-center text-2xl text-pretty italic text-bold text-cyan-500" *ngIf="videogames.length == 0">{{'generalNames.noResults' | translate}}</ion-title>
        <ion-card (click)="detailVideogame(videogame)" button *ngFor="let videogame of videogames;" class="card">
          <ion-title expand="full" *ngIf="videogame.personal" [color]="getStateColor(videogame.personal.state)" class="ion-padding text-center">
            {{videogame.personal.state? (videogame.personal.state | translate) : 'personal.generalNames.noStatus' | translate}}
          </ion-title>
          <ion-img
          class="img"
          [src]="videogame.cover ? `${videogame.cover.url}` : 'https://placehold.co/600x400?text=Image+Not+Found'"
          alt="{{videogame.name}}">
          </ion-img>
          <ion-card-header>
            <ion-label class="card-title">{{ videogame.name ? videogame.name : videogame.name }}</ion-label>
          </ion-card-header>
          <ion-button *ngIf="videogame.personal?.personal_rating == null" (click)="rateVideogame(videogame)" expand="full" color="tertiary" >
            {{'personal.generalNames.rateIt' | translate}}
          </ion-button>
          <div *ngIf="videogame.personal" class="personal">
            <ion-label style="margin-top:10px;" color="tertiary">{{'personal.generalNames.userRating' | translate}}</ion-label>
            <ion-chip class="star" color="{{videogame.personal.personal_rating ? 'success' : 'danger'}}" >
                <ion-label>{{ videogame.personal.personal_rating ? (videogame.personal.personal_rating | number : '1.0-1') + ' / 10 🏆' : 'personal.generalNames.noRating' | translate }}</ion-label>
            </ion-chip>
          </div>
        </ion-card>
      </div>
    </ion-segment-content>

    <!-- { {# This is where the search functionality will be implemented #}} -->
    <ion-segment-content id="search">
      <ion-searchbar class="sticky" showClearButton="focus" showCancelButton="focus" placeholder="{{'personal.search.searchVideogames' | translate}}" (ionChange)="searchVideogames($event)" (ionCancel)="resetPage()" [debounce]="250"></ion-searchbar>
      <ion-list>
        <ion-title *ngIf="videogamesOnRequest.length == 0 && noResponse && searchExpr != ''" >{{'generalNames.noResults' | translate}}</ion-title>
        @for (videogame of videogamesOnRequest; track videogame; let index = $index) {
        <ion-item button (click)="detailVideogame(videogame)">
          <ion-avatar slot="start">
            <img src="{{videogame.cover ? `${videogame.cover.url}` : 'https://placehold.co/600x400?text=Image+Not+Found'}}" alt="{{videogame.name}}">
          </ion-avatar>
          <ion-label>{{ videogame.name }}</ion-label>
        </ion-item>
        }
      </ion-list>
      <ion-title *ngIf="noResults && searchExpr != ''">{{'generalNames.noResults' | translate}}</ion-title>
      <ion-button class="ion-margin" *ngIf="videogamesOnRequest.length > 0" (click)="onInfiniteScroll()" [disabled]="noResponse" expand="block" >
        {{'generalNames.loadMore' | translate}}
      </ion-button>
    </ion-segment-content>
  </ion-segment-view>

</ion-content>
