
ion-img {
height: 200px;
object-fit: cover;
border-radius: 8px;
}

.anime-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 12px;
  }
  
  .anime-card {
    width: 160px;
  }
  
  .anime-img {
    width: 100%;
    height: 220px;
    object-fit: cover;
    border-radius: 8px;
  }
  
  .card-title {
    color:white;
  }

.sticky{
  position: sticky;
  top: 0;
  z-index: 10;
  background: var(--ion-background-color);
}