<ion-menu side="end" contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-button expand="full" (click)="collapseAll()">{{'generalNames.collapseAll' | translate}}</ion-button>
    <ion-list>
      <ng-container *ngFor="let item of menus">
        <ng-container *ngTemplateOutlet="renderItem; context: { $implicit: item }"></ng-container>
      </ng-container>
    </ion-list>

    <ng-template #renderItem let-item>
      <ion-item button detail="false" (click)="goToLink(item)">
        <ion-icon slot="start" [name]="item.isOpen ? 'chevron-down-outline' : item.icon"></ion-icon>
        <ion-label>{{ item.emoji }} {{ item.title | translate }}</ion-label>
      </ion-item>

      <ion-list *ngIf="item.subMenu && item.isOpen" class="ml-4 ion-padding">
        <ng-container *ngFor="let subItem of item.subMenu">
          <ng-container *ngTemplateOutlet="renderItem; context: { $implicit: subItem | translate }"></ng-container>
        </ng-container>
      </ion-list>
    </ng-template>


  </ion-content>
</ion-menu>
<ion-content id="main-content">

</ion-content>
