<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>

</ion-header>

<ion-content  class="ion-padding">
  <div class="card">
    <ion-card-title>{{serie.name}}</ion-card-title>
    <div class="">
      <ion-chip class="star" color="success" >
        {{serie.vote_average ? (serie.vote_average | number: '1.0-1') +' / 10 ⭐' : ('personal.status.noScore' | translate)}}
      </ion-chip>
    </div>
    <div class="">
      <ion-chip class="star" color="tertiary" >
        {{serie.first_air_date ? (serie.first_air_date | date: 'dd/MM/yyyy') : ('personal.status.noDate' | translate)}}
      </ion-chip>
    </div>
    <div class="">
      <ion-chip *ngFor="let genre of genreFromSeries" color="secondary">
        <ion-label>{{genreFromSeries.length == 0 ? 'No genres' : genre}}</ion-label>
      </ion-chip>
    </div>
    <ion-img
          class="serie-image"
          [src]="serie.poster_path ? 'https://image.tmdb.org/t/p/w500' + serie.poster_path : 'https://placehold.co/600x400?text=Image+Not+Found'"
          alt="{{serie.name}}">
    </ion-img>

    <ion-label>
      <span>{{ serie.overview| filtro: showFullText }}</span>
      <ion-label color="primary" (click)="toggleText()"> {{ showFullText ? ('generalNames.readLess' | translate) : ('generalNames.readMore' | translate) }}</ion-label>
    </ion-label>
  </div>

    <div *ngIf="serie.personal" class="personal">
      <ion-chip class="star" color="{{serie.personal.personal_rating ? 'success' : 'danger'}}" >
          <ion-label>{{ serie.personal.personal_rating ? (serie.personal.personal_rating | number : '1.0-1') + ' / 10 🏆' : ('personal.status.noRating' | translate) }}</ion-label>
          <ion-button style="margin-left:10px;" (click)="editRating(serie)" color="tertiary" expand="full">{{'generalNames.change' | translate}}</ion-button>
      </ion-chip>
      <ion-chip class="star" [color]="getStateColor(serie.personal.state)" >
          <ion-label>{{serie.personal.state ? (serie.personal.state | translate) : ('personal.status.noState' | translate)}}</ion-label>
          <ion-button style="margin-left:10px;" (click)="changeState()" color="tertiary" expand="full">{{'generalNames.change' | translate}}</ion-button>
      </ion-chip>
    </div>
  <ion-button  expand="full" color="{{serie.isSaved ? 'danger' : 'success'}}" (click)="handleSerieSave(serie, serie.isSaved)" >
    <ion-label>{{serie.isSaved ? ('generalNames.delete' | translate) : ('generalNames.save' | translate) }}</ion-label>
    <ion-icon slot="end" title="{{serie.isSaved ? 'trash' : 'bookmark'}}"></ion-icon>
  </ion-button>

</ion-content>
