<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>

</ion-header>

<ion-content class="ion-padding">

  <div class="card">
    <ion-card-title class="text-2xl font-bold">{{movie.title}}</ion-card-title>
    <div class="">
      <ion-chip class="star" color="success" >
        {{movie.vote_average ? (movie.vote_average | number: '1.0-1') +' / 10 ⭐' : ('personal.status.noScore' | translate)}}
      </ion-chip>
    </div>
    <div class="">
      <ion-chip class="star" color="tertiary" >
        {{movie.release_date ? (movie.release_date | date: 'dd/MM/yyyy') : ('personal.status.noDate' | translate)}}
      </ion-chip>
    </div>
    <div class="">
      <ion-chip *ngFor="let genre of genreFromMovies" color="secondary">
        <ion-label>{{genreFromMovies.length == 0 ? 'No genres' : genre}}</ion-label>
      </ion-chip>
    </div>
    <ion-img
          class="movie-image"
          [src]="movie.poster_path ? 'https://image.tmdb.org/t/p/w500' + movie.poster_path : 'https://placehold.co/600x400?text=Image+Not+Found'"
          alt="{{movie.title}}">
    </ion-img>
    <ion-label>
      <span>{{ movie.overview| filtro: showFullText }}</span>
      <ion-label color="primary" (click)="toggleText()"> {{ showFullText ? ('generalNames.readLess' | translate) : ('generalNames.readMore' | translate) }}</ion-label>
    </ion-label>
  </div>

    <div *ngIf="movie.personal" class="personal">
      <ion-chip class="star" color="{{movie.personal.personal_rating ? 'success' : 'danger'}}" >
          <ion-label>{{ movie.personal.personal_rating ? (movie.personal.personal_rating | number : '1.0-1') + ' / 10 🏆' : ('personal.status.noRating' | translate) }}</ion-label>
          <ion-button style="margin-left:10px;" (click)="editRating(movie)" color="tertiary" expand="full">{{'generalNames.change' | translate}}</ion-button>
      </ion-chip>
      <ion-chip class="star" [color]="getStateColor(movie.personal.state)" >
          <ion-label>{{movie.personal.state ? (movie.personal.state | translate) : ('personal.status.noState' | translate)}}</ion-label>
          <ion-button style="margin-left:10px;" (click)="changeState()" color="tertiary" expand="full">{{'generalNames.change' | translate}}</ion-button>
      </ion-chip>
    </div>
  <ion-button  expand="full" color="{{movie.isSaved ? 'danger' : 'success'}}" (click)="handleMovieSave(movie, movie.isSaved)" >
    <ion-label>{{movie.isSaved ? ('generalNames.delete' | translate) : ('generalNames.save' | translate) }}</ion-label>
    <ion-icon slot="end" title="{{movie.isSaved ? 'trash' : 'bookmark'}}"></ion-icon>
  </ion-button>

</ion-content>
